<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Heading -->
    <div class="sidebar-heading">
        Features
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-users"></i>
            <span>Account List</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/account-list-customer">Customer</a>
                <a class="collapse-item" href="/account-list-admin">Admin</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/product-category">
            <i class="fas fa-fw fa fa-tags"></i>
            <span>Product Categories</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/product-list">
            <i class="fas fa-fw fa-th-list"></i>
            <span>Product List</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/product-create">
            <i class="fas fa-fw fa-cog"></i>
            <span>Create New Product</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/order-list">
            <i class="fas fa-fw fa-shopping-basket"></i>
            <span>Customer's Orders</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/report">
            <i class="fas fa-fw fa-table"></i>
            <span>Reports</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->